img {
    width: 18rem;
    height: 10rem;
}
.projectDisplay {
    width: 60%;
    margin-left: 20%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}