img {
    width: 18rem;
    height: 10rem;
}
.projectDisplay {
    width: 60%;
    margin-left: 20%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 2rem;
}
@media (max-width: 1000px) {
    .projectDisplay {
        width: 100%;
        margin-left: 0%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
@media (max-width: 600px) {
    .projectDisplay {
        width: 100%;
        margin-left: 0%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}
